.titulo{
  text-align: center;
  font-size: 4rem;
  margin: 20px auto;
  color: #f84e4e
}
.container-img{
  display: flex;
  justify-content: center;
  margin: 50px auto;
}
.container-img img{
  max-width: 100%;
  width: 400px;
  cursor: pointer;
}
.sub-titulo{
  text-align: center;
  font-size: 2rem;
}
body{
  background-color: #ffff9e;
}